Hi, I am Mark .
Whats your name .
Tell me a joke .
Can you play music .
Tell me about the weather outside .
What can you do for me .
What is your purpose .
I am feeling bored .
Tell me my name .
Which GOT characters your favourite .
What do you know about banking .
What can I ask you .
Can you feel emotions .
What is E-Kuber Portal all about .
What is you favourite movie .
Tell me your name .
Tell me about banking .
Tell me about Intellect Design .
What is E-Kuber .
What are you .
How are you .
How are you doing .